################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/.vs/WebSocketDemo
/src/WebSocketDemo/obj
/src/WebSocketDemo/bin/Debug/netcoreapp3.1
